<template name="orders">
  <div class="orders-list">
  {{#if orders}}
  <div class="orders">
    {{#each orders}}
      {{> order}}
    {{/each}}
  </div>
  {{else}}
  <div class="no-orders big-text">
    <p class="lead">You have no open orders.</p>
  </div>
  {{/if}}
  </div>

</template>

<template name="order">
  <div class="order section">
    {{#if isReservation}}
      <h3>Reservation for {{experience.title}}</h3>
      <p class="lead">Party of {{reservation.partySize}}</p>

    {{/if}}
  </div>
</template>