<template name="patronOrderPage">
  <div class="container">
    {{#with order}}
      {{> patronOrder}}
    {{/with}}
  </div>
</template>

<template name="patronOrder">
  <div class="patron-order section">
    {{#if isReservation}}
      <h3>
        Reservation for {{experience.title}}
        <small class="pull-right">
          {{#if isPending}}
            (In Progress)
          {{/if}}
          {{#if isConfirmed}}
            Confirmed
          {{/if}}
          {{#if isCancelled}}
            Cancelled
          {{/if}}
        </small>
      </h3>
      
      <p class="lead">{{reservation.partyName}} - Party of {{reservation.partySize}}</p>
      
      {{#if isCancelled}}
        <p>Cancelled on {{cancelledDate}}</p>
      {{else}}
        {{#if needsAction}}
          <a class="btn btn-default confirm-reservation">Confirm Reservation</a>
        {{else}}
          <p>Confirmed on {{confirmationDate}}</p>
        {{/if}}
        <hr class="soften" />
        <a class="btn btn-danger cancel-reservation">Cancel Reservation</a>
      {{/if}}

      

    {{/if}}
  </div>
</template>