<template name="deviceLayout">
  <div class="deviceLayout">
    {{> deviceHeader}}
    <div class="device-container {{deviceContainerClass}}">
      {{yield}}
    </div>
    {{> footer}}
  </div>
  {{> preload}}
</template>

<template name="preload">
  <div class="preloader hidden">
  	{{#each experiences}}
      <img src="{{photoUrl}}/convert?w=329&fit=scale&cache=true" alt="Thumbnail for {{title}}">
  	{{/each}}	

    {{#each experiences}}
      <img src="{{photoUrl}}?cache=true" alt="Full-size for {{title}}">
    {{/each}}
  </div>
</template>
