.navbar-device {
  .nav {
    line-height: 30px;
    li {
      a {
        color: #666;
        &:hover {
          transition: all .5s;
          color: #000;
          background-color: inherit;
        }
        &.menu-item {
          text-align: center;
          font-size: 12px;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: .1em;
          cursor: pointer;
        }
      }
      &.back {
        font-size: 20px;
        margin-right: 2em;
      }

      &.active {
        a {
          color: #000;
        }
      }
    }
  }
}