.navbar-device {
  background-color: purple;
  .nav {
    line-height: 15px;
    li {
      a {
        color: #FFF;
        &:hover {
          transition: all .5s;
          color: #000;
          background-color: inherit;
        }
        &.menu-item {
          text-align: center;
          font-size: 12px;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: .1em;
          cursor: pointer;
          width: 147px;

          & > .icon {
            display: block;
            margin: 0 auto;
            font-size: 70px;
          }

          &.orders > .text {
            margin-left: 9px;
          }

        }
      }
      &.back {
        font-size: 20px;
        margin-right: 2em;
      }

      &.active {
        a {
          color: #000;
          background-color: #fff;
          margin-bottom: -1px;
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
