<template name="createExperience">
  <h1>Create Experience</h1>
  <h3>Upload images to start</h3>
  <div class="row">
    <div class="col-md-6">
      {{> uploadExperiencePhoto}}
    </div>
  </div>
  {{> uploadedPhotos}}
</template>

<template name="uploadExperiencePhoto">
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file"
             class="form-control experiencePhotoUploader"
             id="image"
             multiple>
    </div>
</template>

<template name="uploadedPhotos">
  {{#each photos}}
    <div class="row">
      <div class="col-xs-12">
        <img src="{{cfsFileUrl 'default1'}}" class="img-responsive" alt="{{_id}}">
      </div>
    </div>
  {{/each}}
</template>

<template name="enterExperienceDetails">
  {{afQuickField 'title'}}
  {{afQuickField 'lead'}}
  {{afQuickField 'price'}}
  {{afQuickField 'location'}}
  {{afQuickField 'phone'}}
  {{afQuickField 'website'}}
  {{afQuickField 'description'}}
</template>
