<template name="chooseAccountType">
  <div class="row">
    <div class="col-xs-12">
      <div class="centered">
        <h1>What is your role?</h1>
      </div>
    </div>
  </div>
  <div class="row account-type-choices">
    <div class="col-sm-6">
      {{> deviceManagerChoice}}
    </div>
    <div class="col-sm-6">
      {{> contentManagerChoice}}
    </div>
  </div>
</template>

<template name="deviceManagerChoice">
  <div class="centered">
    <h2>Device Manager</h2>
    <p class="lead">
      Operating a device at your business? Creating a device manager account will allow you to add
      and control devices across all of the locations you manage.
    </p>
    <a href="{{pathFor 'createDeviceManagerAccount'}}" class='btn btn-primary create-device-manager'>Create Device Manager Account</a>
  </div>
</template>

<template name="contentManagerChoice">
  <div class="centered">
    <h2>Content Manager</h2>
    <p class="lead">
      Restaurant owner? Event Promoter? Local retail store? Reach your customers by creating content
      to be distributed to our network of devices.
    </p>
    <a href="{{pathFor 'createContentManagerAccount'}}" class='btn btn-primary create-content-manager'>Create Content Manager Account</a>
  </div>
</template>