<template name="signup">
  {{> chooseAccountType}}
</template>



<template name="createDeviceManagerAccount">
  <div class="centered">
    <h1>Create Your Device Manager Account</h1>
    <form>
      <div class="control-group">
        <label>Username</label>
        <div class="controls"><input id="username" name="username" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Email</label>
        <div class="controls"><input id="email" name="email" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Password</label>
        <div class="controls"><input id="password" name="password" type="password" value="" /></div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button" value="Sign Up" />
      </div>
    </form>
  </div>
</template>

<template name="createContentManagerAccount">
  <div class="centered">
    <h1>Create Your Content Manager Account</h1>
    <form role="form">
      <div class="control-group">
        <label>Username</label>
        <div class="controls"><input id="username" name="username" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Email</label>
        <div class="controls"><input id="email" name="email" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Password</label>
        <div class="controls"><input id="password" name="password" type="password" value="" /></div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button" value="Sign Up" />
      </div>
    </form>
  </div>
</template>

