<template name="editExperience">
  <div class="in-progress-experience section">
    <header>
      <h3>Edit Experience</h3>
    </header>

    <div class="row">
      <!-- Photo -->
      <div class="col-md-4">
        <legend>Photo</legend>
        <img class="img-responsive" src="{{photoUrl}}/convert?w=278&fit=scale&cache=true" />
        <em>{{photoName}}</em>
      </div>

      <!-- edit -->
      <div class="col-md-8">
        {{#autoForm schema=experienceSchema doc=this id=this._id}}
          <div class="row">
            <div class="col-md-4">
              <legend>Experience Details</legend>
              {{afQuickField "category" firstOption="--Select a Category--" options=categoryOptions}}

              {{afQuickField 'active'}}
              {{afQuickField 'title'}}
              {{afQuickField 'lead'}}
              {{afQuickField 'description' rows="4"}}
              {{afQuickField 'website'}}
            </div>
            <div class="col-md-4">
              <legend>Venue Info</legend>
              {{afQuickField 'venueName'}}
              {{afQuickField 'street'}}
              {{afQuickField 'city'}}
              {{afQuickField 'state'}}
              {{afQuickField 'zip'}}
              {{afQuickField 'phone'}}
            </div>
            <div class="col-md-4">
              <legend>Order Info</legend>
              {{afQuickField "callToAction" firstOption="--Select a call to action--" options=callToActionOptions}}

              <div class="reservationOptions hidden">
                {{afQuickField 'maxPartySize'}}
              </div>

              <div class="purchaseOptions hidden">
                {{afQuickField 'price'}}
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-6 col-md-6">
              <button type="reset" class="btn btn-default pull-right">Reset</button>
              &nbsp;
              <button type="submit" class="btn btn-primary pull-right update">Update Experience Details</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    </div>
    <hr class="soften" />
    <div class="row">
      <!-- delete -->
      <div class="col-xs-12">
        {{#autoForm schema=experienceSchema doc=this}}
          <button type="submit" class="btn btn-danger remove pull-right">
            <i class="fa fa-trash-o"></i> Delete
          </button>
        {{/autoForm}}
      </div>
    </div>
  </div>


</template>
