<template name="manageExperiences">
  <div class="container">
    <h1>Manage Experiences</h1>

    {{#if isInRole 'admin'}}
      <h4>Manage Categories</h4>
      <div class="row">
        <div class="col-md-6">
        <a href="{{pathFor 'categories'}}" class="btn btn-default">Manage Experience Categories</a>
        </div>
      </div>
    {{/if}}

    <h4>Upload an image to create a new experience</h4>
    <div class="row">
      <div class="col-md-6">
        {{> uploadExperiencePhoto}}
      </div>
    </div>
    {{> myExperiences}}
  </div>
</template>

<template name="uploadExperiencePhoto">
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file"
             class="form-control experiencePhotoUploader"
             id="image"
             multiple>
    </div>
</template>

<template name="myExperiences">
  {{#each experiences}}
    {{> editExperience}}
  {{/each}}
</template>