<template name="experience">
  {{#with experience}}
    <div class="experience {{experienceState}}" style="background: url('{{photoUrl}}?cache=true') no-repeat center center fixed">
      <div class="back">
        <a href="{{pathFor 'experiences'}}"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
      </div>
      <div class="content col-xs-12 col-md-5 touch-scrollable">
        {{> experienceDetails}}
      </div>
      <div class="content action-form col col-sx-12 col-md-5 col-md-offset-5 touch-scrollable">
        <div class="close">
          <i class="fa fa-times"></i>
        </div>
        {{#if callToActionIsReserve}}
          {{> makeReservationForm}}
        {{/if}}
      </div>
    </div>
  {{/with}}
</template>

<template name="experienceDetails">
  <div class="row experience-header">
    <div class="col-xs-12">
      <h1>
        {{title}}
      </h1>
      <p class="lead">{{lead}}</p>
    </div>
  </div>


  {{#if callToAction}}
    <div class="row call-to-action">
      <div class="col-xs-12">
        {{#if callToActionIsReserve}}
          {{> makeReservationCallToAction}}
        {{/if}}
        {{#if callToActionIsPurchase}}
          {{> buyExperienceCallToAction}}
        {{/if}}
      </div>
    </div>

  {{/if}}
  <div class="venue">
    <div class="name">{{venueName}}</div>
    <div>{{street}}</div>
    <div>{{city}}, {{state}} {{zip}}</div>
    <div>{{phone}}</div>
    <a>{{website}}</a>
  </div>
  <p class="description">{{description}}</p>
</template>
