<template name="dashboard">
  <div class="container">
    <div class="row">
      {{#if isInRole 'admin'}}
      {{/if}}
      {{#if canManageExperiences}}
        <div class="section">
          <h3>Manage Your Experiences</h3>
          <a class="btn btn-primary" href="{{pathFor 'manageExperiences'}}">Manage Experiences</a>
        </div>
      {{/if}}
      {{#if isInRole 'hotel-staff'}}
        <div class="section">
          <h3>Setup this Device</h3>
          <a class="btn btn-primary" href="{{pathFor 'setupDevice'}}">Device Setup</a>
        </div>
      {{/if}}
    </div>

  </div>
</template>