<template name="patronOrderPage">
  <div class="container">
    {{#with order}}
      {{> patronOrder}}
    {{/with}}
  </div>
</template>

<template name="patronOrder">
  <div class="order section">
    {{#if isReservation}}
      <h3>
        Reservation for {{experience.title}}
        <small class="pull-right">
          {{#if open}}
            (In Progress)
          {{else}}
            Confirmed
          {{/if}}
        </small>
      </h3>
      <p class="lead">{{reservation.partyName}} - Party of {{reservation.partySize}}</p>
      {{#with experience}}
      <a class="btn btn-default" href="{{pathFor 'experience' this}}">See Details</a>
      {{/with}}
    {{/if}}
  </div>
</template>