<template name="patronOrderPage">
  <div class="container">
    {{#with order}}
      {{> patronOrder}}
    {{/with}}
  </div>
</template>

<template name="patronOrder">
  <div class="patron-order section">
    {{#if isReservation}}
      <h3>
        Reservation for {{experience.title}}
        <small class="pull-right">
          {{#if open}}
            (In Progress)
          {{else}}
            Confirmed
          {{/if}}
        </small>
      </h3>
      
      <p class="lead">{{reservation.partyName}} - Party of {{reservation.partySize}}</p>
      
      {{#if needsConfirmation}}
        <a class="btn btn-default confirm-reservation">Confirm Reservation</a>
      {{else}}
        <p>Confirmed on {{confirmationDate}}</p>
      {{/if}}

    {{/if}}
  </div>
</template>