<template name="experience">
  <div class="experience">
    {{#with experience}}
      <div class="back">
        <a href="{{pathFor 'experiences'}}"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
      </div>
      <img src="{{cfsFileUrl 'default1' fileId=photoId collection='ExperiencesFS'}}" class="img-responsive" alt="{{photoId}}">
      <div class="content col-xs-12 col-md-5">
        {{> experienceDetails}}
      </div>
    {{/with}}
  </div>
</template>

<template name="experienceDetails">
  <h1>
    {{title}}
  </h1>
  <p class="lead">{{lead}}</p>
  {{#if callToAction}}
    {{#if callToActionIsReserve}}
      {{> makeReservation}}
    {{/if}}
    {{#if callToActionIsPurchase}}
      {{> buyExperience}}
    {{/if}}
  {{/if}}
  <div class="venue">
    <a href="#" class="get-directions">Get Directions</a>
    <div class="name">{{venueName}}</div>
    <div>{{street}}</div>
    <div>{{city}}, {{state}} {{zip}}</div>
    <div>{{phone}}</div>
    <a href="{{website}}">{{website}}</a>
  </div>
  <p class="description">{{description}}</p>
</template>

