<template name='configureYelp'> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="modal-content inline">
            <div class="modal-header">
              <h3 class="modal-title">Yelp API Access Configuration</h3>
            </div>
            {{#autoForm schema=configureYelp doc=this id='configureYelp' type='method' meteormethod='configureYelp'}}
            <div class="modal-body">
              <p class="lead">Do not change if you don't know what you are doing.</p>
              {{> afQuickField name='consumerKey'}}
              {{> afQuickField name='consumerSecret'}}
              {{> afQuickField name='accessToken'}}
              {{> afQuickField name='accessTokenSecret'}}
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-default">Update Yelp Configuration</button>
            </div>
            {{/autoForm}}
          </div><!-- /.modal-content -->
      </div>    
    </div>
  </div>
</template>