<template name="createExperience">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      {{#autoForm schema=createExperienceSchema id="create-experience"}}
      <fieldset>
        <legend>Create new Experience</legend>
        <div class="form-group {{#if aFieldNameIsInvalid 'title'}}has-error{{/if}}">
          {{afFieldLabel 'title' class='control-label'}}
          {{afFieldInput 'title'}}
          {{#if afFieldIsInvalid 'title'}}
          <span class="help-block">{{afFieldMessage 'title'}}</span>
          {{/if}}
        </div>
        <div class="form-group {{#if aFieldNameIsInvalid 'lead'}}has-error{{/if}}">
          {{afFieldLabel 'lead' class='control-label'}}
          {{afFieldInput 'lead'}}
          {{#if afFieldIsInvalid 'lead'}}
          <span class="help-block">{{afFieldMessage 'lead'}}</span>
          {{/if}}
        </div>
        <div class="form-group {{#if aFieldNameIsInvalid 'price'}}has-error{{/if}}">
          {{afFieldLabel 'price' class='control-label'}}
          {{afFieldInput 'price'}}
          {{#if afFieldIsInvalid 'price'}}
          <span class="help-block">{{afFieldMessage 'price'}}</span>
          {{/if}}
        </div>
        <div class="form-group {{#if aFieldNameIsInvalid 'location.street'}}has-error{{/if}}">
          {{afFieldLabel 'location.street' class='control-label'}}
          {{afFieldInput 'location.street'}}
          {{#if afFieldIsInvalid 'location.street'}}
          <span class="help-block">{{afFieldMessage 'location.street'}}</span>
          {{/if}}
        </div>
        <div class="form-group {{#if aFieldNameIsInvalid 'location.city'}}has-error{{/if}}">
          {{afFieldLabel 'location.city' class='control-label'}}
          {{afFieldInput 'location.city'}}
          {{#if afFieldIsInvalid 'location.city'}}
          <span class="help-block">{{afFieldMessage 'location.city'}}</span>
          {{/if}}
        </div>
        <div class="form-group {{#if aFieldNameIsInvalid 'location.state'}}has-error{{/if}}">
          {{afFieldLabel 'location.state' class='control-label'}}
          {{afFieldInput 'location.state'}}
          {{#if afFieldIsInvalid 'location.state'}}
          <span class="help-block">{{afFieldMessage 'location.state'}}</span>
          {{/if}}
        </div>
        <div>
          <button type="submit" data-meteor-method="createExperience" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
      </fieldset>
      {{/autoForm}}
    </div>
  </div>
</template>
