<template name="experienceDisplay">
    {{#if photoId}}
      <img src="{{cfsFileUrl 'default1' fileId=photoId collection='ExperiencesFS'}}" class="img-responsive" alt="{{photoId}}">
    {{else}}
      <img src="{{imgSrc}}" class="img-responsive">
    {{/if}}
    <div class="content">
      <div class="thumbnail-content">
        <h2 class='title'>
          {{title}}
          <small class='price'>${{price}}</small>
        </h2>
        <p class="lead">{{lead}}</p>
        <div class="neighborhood">
          {{neighborhood}}
        </div>
      </div>
      <div class="selected-content">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <h1>
          {{title}}
          <small>${{price}} per ticket</small>
        </h1>
        <p class="lead">{{lead}}</p>
        <div class="neighborhood">
          {{neighborhood}}
        </div>
        <p>{{body}}</p>
        <button class="btn btn-primary btn-lg">Buy Now</button>
      </div>
    </div>
</template>
