.navbar-experience {
  .nav {
    li {
      a {
        color: rgba(0, 0, 0, .7);
        &:hover {
          transition: all .5s;
          color: rgba(0, 0, 0, 1);
          background-color: inherit;
        }
        &.menu-item {
          text-align: center;
          font-size: 20px;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: .1em;
          cursor: pointer;
        }
      }
      &.back {
        font-size: 20px;
        margin-right: 2em;
      }
    }
  }
}