<template name="experienceThumbnail">
    <a href="{{pathFor 'experience' this}}">
      <img src="{{cfsFileUrl 'default1' fileId=photoId collection='ExperiencesFS'}}" class="img-responsive" alt="{{photoId}}">
      <div class="content">
        {{> experienceThumbailDetails}}
      </div>
    </a>
</template>

<template name="experienceThumbailDetails">
  <h2 class='title'>
    {{title}}
  </h2>
  <p class="lead">{{lead}}</p>
  <div class="neighborhood">
    {{neighborhood}}
  </div>
  {{#if price}}
    <div class="price">
      ${{price}}
    </div>
  {{/if}}
</template>

