.experiences {
  .experience-thumbnail-container {
    padding:3px;
    position: relative;

    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.5);
      margin: 3px;
      padding:5px;
      color: white;

      .price {
        color: #ccc;
      }

      .neighborhood {

      }
    }
  }
}
