@-webkit-keyframes zoom-in {
  100% {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.experiences-container {
  width: 98%;
  a {
    color: rgb(0, 174, 239);
  }
}

.experiences {
  & > .experience {
    padding:3px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;

    img {
      border-radius: 10px;
    }

    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.91);
      margin: 3px;
      padding: 10px;
      color: white;
      border-radius: 0 0 10px 10px;

      .title {
        margin-top: 0;
        margin-bottom: 0;
      }

      .lead {
        margin-bottom: 5px;
      }

      .price {
        color: #ccc;
      }

      .neighborhood {

      }
    }
  }
}
