<template name="experienceThumbnail">
    <a href="{{pathFor 'experience' this}}">
      <img src="{{cfsFileUrl 'default1' fileId=photoId collection='ExperiencesFS'}}" class="img-responsive" alt="{{photoId}}">
      <div class="content">
        <div class="thumbnail-content">
          {{> experienceThumbailDetails}}
        </div>
      </div>
    </a>
</template>

<template name="experienceThumbailDetails">
  <h2 class='title'>
    {{title}}
    {{#if price}}
    <small class='price'>${{price}}</small>
    {{/if}}
  </h2>
  <p class="lead">{{lead}}</p>
  <div class="neighborhood">
    {{neighborhood}}
  </div>
</template>

