<template name="categories">
  <div class="container">
    <div class="row">
      {{> addCategory}}
    </div>
    <div class="row">
      {{> categoriesList}}
    </div>
  </div>
</template>

<template name="categoriesList">
    <div class="categories">
      <h3>Categories: </h3>
      {{#each categories}}
        {{> category}}
      {{/each}}
    </div>
</template>

<template name="category">
  <div class="category section">
    <header>
      <h3>Edit Category</h3>
    </header>
    {{#autoForm collection=categories doc=this id=this._id type="update"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='active'}}
      {{> afQuickField name='iconClass' firstOption="--Select an icon--" options=categoryIconOptions}}
      <button type="reset" class="btn btn-default">Reset</button>
      &nbsp;
      <button type="submit" class="btn btn-primary update">Update Category</button>
    {{/autoForm}}
    <hr class="soften" />
    {{#afDeleteButton collection=categories doc=this}}
      <i class="fa fa-trash-o"></i> Delete
    {{/afDeleteButton}}
  </div>
</template>

<template name="addCategory">
  <div class="section">
    <header>
      <h3>Add Category</h3>
    </header>
    {{#autoForm collection=categories type="insert"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='active'}}
      {{> afQuickField name='iconClass' firstOption="--Select an icon--" options=categoryIconOptions}}
      <button type="reset" class="btn btn-default">Reset</button>
      &nbsp;
      <button type="submit" class="btn btn-primary insert">Add Category</button>
    {{/autoForm}}
  </div>
</template>