<template name="experienceThumbnail">
  <a href="{{pathFor 'experience'}}">
    <img src="{{photoUrl}}/convert?w=329&fit=scale&cache=true" class="img-responsive img-experience" alt="{{photoId}}">
    <div class="content">
      {{> experienceThumbailDetails}}
    </div>
  </a>
</template>

<template name="experienceThumbailDetails">
  <h2 class='title'>
    {{title}}
  </h2>
  <p class="lead">{{lead}}</p>
  {{#if price}}
    <div class="price">
      ${{price}}
    </div>
  {{/if}}
</template>

