<template name="manageExperiences">
  <div class="container">
    <h1>Manage {{categoryName}}</h1>

    <div class="row">
      <div class="col-md-12">
        {{> filepickerUpload}}
      </div>
    </div>

    {{> myExperiences}}
  </div>
</template>

<template name="uploadExperiencePhoto">
    <div class="section">
      <h4>Upload an image to create a new experience</h4>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file"
               class="form-control experiencePhotoUploader"
               id="image"
               multiple>
      </div>
    </div>
</template>

<template name="myExperiences">
  {{#each experiences}}
    {{> editExperience}}
  {{/each}}
</template>