<template name="orders">
  {{#if hasOrders}}
    <div class="orders-list">
      <div class="orders">
        {{#each orders}}
          {{> order}}
        {{/each}}
      </div>
    </div>
  {{else}}
  <div class="no-orders big-text">
    <p class="lead">You have no open orders.</p>
  </div>
  {{/if}}
  </div>
</template>

<template name="order">
  <div class="order section">
    {{#if isReservation}}
      <header>
        <h3>
          Reservation for {{experience.title}}
          <small class="pull-right">
            {{#if open}}
              (In Progress)
            {{else}}
              Confirmed
            {{/if}}
          </small>
        </h3>
      </header>
      
      <p class="lead">{{reservation.partyName}} - Party of {{reservation.partySize}}</p>
      {{#with experience}}
      <a class="btn btn-default" href="{{pathFor 'experience' this}}">See Details</a>
      {{/with}}
    {{/if}}
  </div>
</template>