<template name="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'homepage'}}">Plus More</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor 'content'}}">Content page</a></li>
          <li><a href="{{pathFor 'items'}}">Items</a></li>
          <li><a href="/404">404 Link</a></li>
          {{#if isLoggedIn}}
            <li><a href="/" class="log-out">Log Out</a></li>
          {{else}}
            <li><a href="{{pathFor 'signup'}}">Sign Up</a></li>
            <li><a href="{{pathFor 'login'}}">Log In</a></li>
          {{/if}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="messages">
    {{#each messages}}
    <p class="message message-{{type}}">{{message}}</p>
    {{/each}}
  </div>
</template>